<!-- LIGHT SECTION -->
<section class="lightSection clearfix pageHeader">
  <div class="container">
    <div class="row">
      <div class="col-xs-6">
        <div class="page-title">
          <h2>
            <% if @taxon.nil? %>
              <%= @product.name %>
            <% else %>
              <%= @taxon.name %>
            <% end %>
          </h2>
        </div>
      </div>
      <div class="col-xs-6">
        <ol class="breadcrumb pull-right">
          <li>
            <a href="index.html">Home</a>
          </li>
          <li>
            <a href="#">shop</a>
          </li>
          <li class="active">
            <a href="#">
              <% if @taxon.nil? %>
                <%= @product.name %>
              <% else %>
                <%= @taxon.name %>
              <% end %>
            </a>
        </li>
        </ol>
      </div>
    </div>
  </div>
</section>
