<div class="panel panel-default filterNormal">
  <div class="panel-heading">色から探す</div>
  <div class="panel-body">
    <ul class="list-unstyled">
      <% @colors_in_sidebar.each do |color| %>
        <li>
          <%= link_to :controller => "categories", :action => "index", color: color.name do %>
          <%= color.name %><span>(<%= Spree::Variant.joins(:option_values).load_by_option_values(color.id).to_a.uniq { |color| color.name }.count %>)</span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
